@import "http://fonts.fontstorage.com/import/bebasneue.css";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: open-sans, Arial, sans-serif;
  background-color: #fff; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.container-partners {
  max-width: 1496px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.container-custom {
  max-width: 1550px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.container-video {
  max-width: 1439px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.container {
  max-width: 1722px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.text-center {
  text-align: center; }

.header {
  background-color: transparent;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 35px 0; }
  .header .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header .logo {
    width: 232px; }
    .header .logo img {
      width: 100%;
      height: auto; }
  .header .mobile {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548; }
    .header .mobile:hover {
      text-decoration: none; }
  @media (max-width: 576px) {
    .header .logo {
      width: 150px; }
    .header .mobile {
      font-size: 28px; } }
  @media (max-width: 402px) {
    .header .mobile {
      font-size: 22px; } }
  @media (max-width: 354px) {
    .header .logo {
      width: 140px; }
    .header .mobile {
      font-size: 18px; }
    .header .banner-title {
      line-height: 40px; } }

.banner {
  height: 100vh;
  background: url("../../public/images/banner.png") center no-repeat;
  background-size: cover;
  padding: 3% 0 0 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .banner .banner-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 16px; }
  .banner .banner-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 36px;
    max-width: 660px; }
  .banner .btn {
    padding: 16px 25px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px; }
    .banner .btn:hover {
      background: #F3A610; }
  @media (max-width: 1024px) {
    .banner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .banner .banner-title {
        font-size: 37px; } }
  @media (max-width: 768px) {
    .banner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0; }
      .banner .banner-inner {
        text-align: center; }
      .banner .banner-text {
        max-width: 100%; } }
  @media (max-width: 576px) {
    .banner .banner-title {
      font-size: 32px;
      margin-top: 80px; } }
  @media (max-width: 402px) {
    .banner .banner-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .banner .banner-title {
      line-height: 40px; } }

.streaming {
  background: url("../../public/images/bg-transl.png") center top no-repeat;
  background-size: cover;
  padding: 124px 0 136px 15%; }
  .streaming .streaming-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 560px;
    margin-bottom: 36px; }
  .streaming .streaming-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    max-width: 560px; }
  @media (max-width: 1024px) {
    .streaming .streaming-title {
      font-size: 37px; } }
  @media (max-width: 768px) {
    .streaming {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 130px 0; }
      .streaming .streaming-inner {
        text-align: center; }
      .streaming .streaming-text, .streaming .streaming-title {
        max-width: 100%; } }
  @media (max-width: 576px) {
    .streaming {
      padding: 82px 0; }
      .streaming .streaming-title {
        font-size: 32px; } }
  @media (max-width: 402px) {
    .streaming .streaming-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .streaming .streaming-title {
      line-height: 40px; } }

.event {
  padding: 140px 0; }
  .event .event-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    text-align: center;
    color: #3B2548;
    margin-bottom: 72px; }
  .event .card {
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 0; }
    .event .card .card-body {
      padding: 0; }
    .event .card .card-footer {
      background-color: #fff;
      padding: 16px 0 23px 0; }
    .event .card .card-text {
      max-width: 210px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      margin: 0 auto 24px; }
    .event .card .btn {
      padding: 16px 77px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #FFFFFF;
      background: #F7BC2A;
      -webkit-box-shadow: 0 4px 4px #E6AE22;
      box-shadow: 0 4px 4px #E6AE22;
      border-radius: 7px; }
      .event .card .btn:hover {
        background: #F3A610; }
  .event .first-row {
    margin-bottom: 54px; }
  .event .image {
    max-width: 403px;
    max-height: 268px; }
    .event .image img {
      width: 100%;
      height: auto; }
  @media (max-width: 1200px) {
    .event .card .btn {
      padding: 12px 58px; } }
  @media (max-width: 1024px) {
    .event .event-title {
      font-size: 37px; }
    .event .card .btn {
      padding: 16px 46px; } }
  @media (max-width: 992px) {
    .event {
      padding: 120px 0; }
      .event .card .btn {
        padding: 10px 38px; } }
  @media (max-width: 767px) {
    .event .card {
      width: 55%;
      margin: 0 auto 40px; } }
  @media (max-width: 576px) {
    .event .event-title {
      font-size: 32px; } }
  @media (max-width: 428px) {
    .event .card {
      width: 100%; } }
  @media (max-width: 402px) {
    .event .event-title {
      font-size: 28px; }
    .event .card .btn {
      padding: 5px 18px; } }
  @media (max-width: 354px) {
    .event .event-title {
      line-height: 40px; } }

.check-list {
  padding: 140px 0;
  background: url("../../public/images/grey-fon.png") center no-repeat;
  background-size: cover;
  position: relative; }
  .check-list .check-list-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548;
    margin-bottom: 70px; }
  .check-list .image-big {
    position: absolute;
    max-width: 680px;
    top: -40%;
    right: 0; }
    .check-list .image-big img {
      width: 100%;
      height: auto; }
  .check-list ul {
    margin-bottom: 48px; }
  .check-list li {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px; }
  .check-list .check-list-text .image {
    display: inline-block;
    max-width: 16px;
    max-height: 16px;
    margin-right: 32px; }
    .check-list .check-list-text .image img {
      width: 100%;
      height: auto; }
  .check-list .btn {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 40px;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px; }
    .check-list .btn:hover {
      background: #F3A610; }
  @media (max-width: 1324px) {
    .check-list .image-big {
      position: relative;
      top: 0;
      bottom: 0;
      max-width: 680px; } }
  @media (max-width: 1024px) {
    .check-list .check-list-title {
      font-size: 37px; }
    .check-list .card .btn {
      padding: 16px 46px; } }
  @media (max-width: 992px) {
    .check-list {
      padding: 120px 0; }
      .check-list .card .btn {
        padding: 10px 38px; } }
  @media (max-width: 767px) {
    .check-list {
      text-align: center; }
      .check-list .image-big {
        display: none; } }
  @media (max-width: 576px) {
    .check-list .check-list-title {
      font-size: 32px; } }
  @media (max-width: 428px) {
    .check-list .card {
      width: 100%; } }
  @media (max-width: 402px) {
    .check-list .check-list-title {
      font-size: 28px; }
    .check-list .card .btn {
      padding: 5px 18px; } }
  @media (max-width: 354px) {
    .check-list .check-list-title {
      line-height: 40px; }
    .check-list .btn {
      padding: 11px 22px; } }

.online {
  padding-top: 154px;
  margin-bottom: 240px; }
  .online .online-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548;
    margin-bottom: 54px; }
  .online .online-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 478px; }
  .online .online-text.bottom-text {
    margin-bottom: 140px; }
  .online .online-text.bold {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 24px; }
  .online .image {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto; }
    .online .image img {
      width: 100%;
      height: auto; }
  .online .button {
    max-width: 478px; }
  .online .btn {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 18px;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px; }
    .online .btn:hover {
      background: #F3A610; }
  @media (max-width: 1024px) {
    .online .online-title {
      font-size: 37px; } }
  @media (max-width: 992px) {
    .online {
      padding-top: 120px;
      margin-bottom: 154px; } }
  @media (max-width: 767px) {
    .online {
      text-align: center; }
      .online .online-text, .online .button {
        max-width: 100%; }
      .online .image {
        display: none; } }
  @media (max-width: 576px) {
    .online .online-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .online .online-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .online .online-title {
      line-height: 40px; } }

.video .video-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 64px;
  color: #3B2548;
  margin-bottom: 56px; }
.video .video-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000; }
.video .video-text.text-bottom {
  margin-bottom: 140px; }
.video .video-text.text-bottom.last {
  margin-bottom: 120px; }
.video iframe {
  border-radius: 13px;
  margin-bottom: 35px; }
.video .cinema-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #3B2548; }
.video .image {
  display: inline-block;
  max-width: 36px;
  max-height: 36px;
  margin-right: 32px; }
  .video .image img {
    width: 100%;
    height: auto; }
.video ul {
  margin-top: 48px;
  margin-bottom: 8px; }
  .video ul li {
    margin-bottom: 24px; }
.video .video-sub-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center; }
.video .rate {
  max-width: 284px; }
.video .button {
  text-align: center; }
.video .btn {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 18px;
  background: #F7BC2A;
  -webkit-box-shadow: 0 4px 4px #E6AE22;
  box-shadow: 0 4px 4px #E6AE22;
  border-radius: 7px; }
  .video .btn:hover {
    background: #F3A610; }
@media (max-width: 1024px) {
  .video .video-title {
    font-size: 37px; }
  .video .video-text.text-bottom.last {
    margin-bottom: 50px; } }
@media (max-width: 768px) {
  .video iframe {
    height: 365px; } }
@media (max-width: 767px) {
  .video {
    text-align: center; }
    .video .rate {
      max-width: 100%; }
    .video .button {
      margin-bottom: 50px; }
    .video .video-text.text-bottom {
      margin-bottom: 50px; }
    .video .video-text.text-bottom.last {
      margin-bottom: 50px; } }
@media (max-width: 576px) {
  .video .video-title {
    font-size: 32px; } }
@media (max-width: 428px) {
  .video iframe {
    height: 266px; } }
@media (max-width: 402px) {
  .video .video-title {
    font-size: 28px; } }
@media (max-width: 354px) {
  .video .video-title {
    line-height: 40px; } }

.equipment {
  padding: 120px 0 72px 0; }
  .equipment .equipment-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548;
    margin-bottom: 54px; }
  .equipment .equipment-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 48px; }
  .equipment .image {
    display: inline-block;
    max-width: 72px;
    max-height: 72px;
    margin-bottom: 24px; }
    .equipment .image img {
      width: 100%;
      height: auto; }
  @media (max-width: 1024px) {
    .equipment .equipment-title {
      font-size: 37px; } }
  @media (max-width: 576px) {
    .equipment .equipment-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .equipment .equipment-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .equipment .equipment-title {
      line-height: 40px; } }

.money {
  margin-top: 100px;
  padding-bottom: 120px; }
  .money .money-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548;
    margin-bottom: 54px;
    max-width: 585px;
    margin-top: 140px; }
  .money .money-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 585px; }
  .money .image {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto; }
    .money .image img {
      width: 100%;
      height: auto; }
  @media (max-width: 1024px) {
    .money {
      margin-top: 0; }
      .money .money-title {
        font-size: 37px; } }
  @media (max-width: 767px) {
    .money {
      text-align: center; }
      .money .image {
        display: none; }
      .money .money-title {
        max-width: 100%;
        margin-top: 0; }
      .money .money-text {
        max-width: 100%; } }
  @media (max-width: 576px) {
    .money .money-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .money .money-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .money .money-title {
      line-height: 40px; } }

.package {
  background: url("../../public/images/package.png") center no-repeat;
  background-size: cover;
  padding: 140px 0; }
  .package .package-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548;
    margin-bottom: 48px;
    text-align: center; }
  .package .package-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 32px; }
  .package .card {
    padding: 56px 42px;
    background: #FFFFFF;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    border-radius: 0;
    max-width: 380px;
    margin: 0 auto; }
    .package .card:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .package .card.action {
    border: 5px solid #F7BC2A; }
  .package .image {
    display: inline-block;
    max-width: 36px;
    max-height: 36px;
    margin-right: 32px; }
    .package .image img {
      width: 100%;
      height: auto; }
  .package ul {
    margin-bottom: 48px; }
    .package ul li {
      margin-bottom: 24px;
      font-family: "Open Sans", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000000; }
  .package .btn {
    padding: 16px 77px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px; }
    .package .btn:hover {
      background: #F3A610; }
  @media (max-width: 1200px) {
    .package .card .btn {
      padding: 12px 58px; } }
  @media (max-width: 1200px) {
    .package .package-title {
      font-size: 34px;
      margin-bottom: 0; }
    .package .card .btn {
      padding: 10px 27px; }
    .package .card {
      padding: 20px 12px; }
    .package .image {
      margin-right: 19px; }
    .package ul {
      margin-bottom: 0; } }
  @media (max-width: 992px) {
    .package {
      padding: 120px 0; } }
  @media (max-width: 992px) {
    .package {
      padding: 140px 0; }
      .package .package-title {
        font-size: 32px;
        margin-bottom: 0; }
      .package .card .btn {
        padding: 10px 27px; }
      .package .card {
        padding: 10px 5px; }
      .package .image {
        margin-right: 3px; }
      .package .package-text {
        font-size: 13px; }
      .package ul li {
        font-size: 12px; } }
  @media (max-width: 767px) {
    .package .card {
      padding: 56px 42px;
      max-width: 100%;
      margin-bottom: 45px;
      text-align: center; }
    .package .image {
      margin-right: 20px; } }
  @media (max-width: 576px) {
    .package .package-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .package .package-title {
      font-size: 28px; }
    .package .card .btn {
      padding: 5px 18px; } }
  @media (max-width: 354px) {
    .package .package-title {
      line-height: 40px; } }

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 140px 0 280px 0; }
  .team .team-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .team .team-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    text-align: center;
    color: #3B2548;
    margin-bottom: 56px;
    max-width: 647px;
    margin-left: auto;
    margin-right: auto; }
  .team .image {
    max-width: 240px;
    max-height: 240px;
    margin: 0 20px 48px 20px; }
    .team .image img {
      width: 100%;
      height: auto; }
  @media (max-width: 1709px) {
    .team .image {
      max-width: 240px;
      max-height: 240px; }
    .team .team-inner {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 1024px) {
    .team {
      margin-top: 0; }
      .team .team-title {
        font-size: 37px; } }
  @media (max-width: 992px) {
    .team {
      padding: 120px 0 200px 0; } }
  @media (max-width: 767px) {
    .team .team-title {
      max-width: 100%; } }
  @media (max-width: 576px) {
    .team .team-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .team .team-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .team .team-title {
      line-height: 40px; } }

.partners {
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .partners .partners-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    text-align: center;
    color: #3B2548;
    margin-bottom: 56px; }
  .partners .partners-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .partners .image {
    max-width: 240px;
    max-height: 240px;
    margin: 0 26px 48px 26px; }
    .partners .image img {
      width: 100%;
      height: auto; }
  @media (max-width: 1489px) {
    .partners .image {
      max-width: 240px;
      max-height: 240px; }
    .partners .partners-inner {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 1024px) {
    .partners {
      margin-top: 0; }
      .partners .partners-title {
        font-size: 37px; } }
  @media (max-width: 576px) {
    .partners .partners-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .partners .partners-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .partners .partners-title {
      line-height: 40px; } }

.training {
  padding-top: 120px; }
  .training .training-title {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 64px;
    color: #3B2548;
    max-width: 506px;
    margin-bottom: 32px;
    margin-top: 55px; }
  .training .training-text.bold {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 506px; }
  .training .training-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 506px; }
  .training .image {
    max-width: 729px;
    margin-right: auto;
    margin-left: auto; }
    .training .image img {
      width: 100%;
      height: auto; }
  .training .btn {
    padding: 16px 12px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px;
    margin-top: 64px;
    margin-bottom: 120px; }
    .training .btn:hover {
      background: #F3A610; }
  @media (max-width: 1024px) {
    .training .training-title {
      font-size: 37px; } }
  @media (max-width: 767px) {
    .training {
      text-align: center;
      padding-top: 0; }
      .training .training-title, .training .training-text, .training .training-text.bold {
        max-width: 100%; }
      .training .image {
        display: none; } }
  @media (max-width: 576px) {
    .training .training-title {
      font-size: 32px; } }
  @media (max-width: 402px) {
    .training .training-title {
      font-size: 28px; } }
  @media (max-width: 354px) {
    .training .training-title {
      line-height: 40px; } }

.footer {
  padding: 60px 0 56px 0;
  background: #3B2548;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer .phone, .footer .mail {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px; }
  .footer .mail {
    margin-bottom: 24px; }
  .footer .instagram, .footer .facebook {
    margin-right: 32px; }
  .footer input {
    width: 240px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 16px;
    display: block;
    border: 1px solid #fff;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #C6C4C6;
    background-color: #3B2548;
    margin-bottom: 8px; }
  .footer textarea {
    width: 240px;
    max-height: 89px;
    background-color: #3B2548;
    margin-bottom: 16px;
    display: block;
    border: 1px solid #fff;
    padding-top: 7px;
    padding-left: 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #C6C4C6; }
  .footer input::-webkit-outer-spin-button,
  .footer input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */ }
  .footer .form-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 24px; }
  .footer .btn {
    padding: 16px 57px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px; }
    .footer .btn:hover {
      background: #F3A610; }
  .footer .image {
    display: inline-block;
    max-width: 36px;
    max-height: 36px; }
    .footer .image img {
      width: 100%;
      height: auto; }
  @media (max-width: 1080px) {
    .footer .instagram, .footer .facebook {
      margin-right: 10px; }
    .footer input, .footer textarea {
      width: 220px; }
    .footer .btn {
      padding: 16px 45px; } }
  @media (max-width: 1024px) {
    .footer iframe {
      width: 500px; } }
  @media (max-width: 945px) {
    .footer iframe {
      width: 375px; }
    .footer .btn {
      padding: 16px 17px; }
    .footer input, .footer textarea {
      width: 160px; }
    .footer a {
      font-size: 13px; } }
  @media (max-width: 767px) {
    .footer {
      text-align: center; }
      .footer .footer-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .footer .social-icons {
        margin-bottom: 45px; }
      .footer iframe {
        margin-bottom: 45px;
        width: 100%; }
      .footer input, .footer textarea {
        width: 240px;
        margin-right: auto;
        margin-left: auto; }
      .footer a {
        font-size: 16px; } }
